.collection {
  padding-top: 130px;
  &__title {
    margin: 0 auto 80px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__btn {
    text-align: center;
    margin-top: 45px;
  }
}

@media (max-width: 576px) {
  .collection {
    padding-top: 100px;
    &__title {
      margin: 0 auto 40px;
    }
  }
}

@media (max-width: 480px) {
  .collection {
    padding-top: 70px;
    &__btn {
      margin-top: 25px;
    }
  }
}

@media (max-width: 360px) {
  .collection {
    padding-top: 55px;
    &__title {
      margin: 0 auto 30px;
    }
  }
}
