.address {
  max-width: 420px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  &__item {
    display: block;
    padding-left: 35px;
    position: relative;
    transition: color 0.4s;
    & + & {
      margin-top: 10px;
    }
    &:hover {
      color: #ff00ff;
    }
    &::before {
      content: "";
      background-repeat: no-repeat;
      width: 23px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--add {
      &::before {
        background-image: url("../images/icons/map.png");
        margin-bottom: 5px;
      }
    }
    &--mail {
      &::before {
        background-image: url("../images/icons/mail.png");
        margin-bottom: 5px;
      }
    }
    &--tel {
      &::before {
        background-image: url("../images/icons/tel.png");
      }
    }
  }
}
