.footer {
  padding: 105px 0 110px;
  color: #030303;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 45px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__items {
    & + & {
      margin-left: 200px;
    }
  }
  &__title {
    @extend%opensans-600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__link {
    @extend%opensans-400;
    font-size: 16px;
    line-height: 36px;
    transition: color 0.4s;
    &:hover {
      color: #ff00ff;
    }
  }
}

@media (max-width: 1370px) {
  .footer {
    &__inner {
      justify-content: space-around;
    }
    &__logo {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 75px 0 60px;
    &__inner {
      display: block;
    }
    &__content {
      flex-direction: column;
    }
    &__items {
      & + & {
        margin-left: 0;
        margin-top: 25px;
      }
    }
    &__link {
      line-height: 26px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 55px 0 40px;
  }
}
