.social {
  display: flex;
  margin-top: 20px;
  &__social-icon {
    & + & {
      margin-left: 15px;
    }
  }
  &__icon {
    display: block;
    width: 23px;
    height: 23px;
    transition: color 0.4s;
    &:hover {
      color: #ff00ff;
    }
  }
}
